body {
	font-size: 22px;
}

.et-error {
	color: red;
	font-weight: bold;
}

.content-wrapper {
	margin: auto;
	width: 60%;
}

/* Responsive styles */
@media (max-width: 900px) {
	.content-wrapper {
		width: 80%;
	}
}

#et-navbar {
	border: 3px solid blue;
	display: flex;
	justify-content: space-around;
}
#et-navbar a {
	text-decoration: none;
}