#et-management-table,
#et-management-table tr,
#et-management-table th,
#et-management-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 4px;
}

button {
	font-size: 16pt;
}

code {
	background-color: #c9c9c9;
}
#et-management-table code {
	background-color: unset;
}
.et-error code {
	background-color: unset;
	color: black;
}

/* Responsive styles */
@media (max-width: 800px) {
	#et-management-table th:first-child,
	#et-management-table td:first-child {
		display: none;
	}
	#et-management-table code,
	#et-management-table button {
		font-size: 12pt;
	}
}
